{% macro render_field(field,class_=None,additional=None,handler=None) %}
<tr><th scope="row">{{ field.label }}</th>
  {% if not class_ %}
    <td>{{ field(**kwargs)|safe }}</td>
  {% else %}
    <td>{{ field(class=class_)|safe }}
      {% if additional %}
         {{ additional.label }}{{additional}}
      {% endif %}
    </td>
  {% endif %}

    {% if field.errors %}
    <td>
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
    </td>
    {% endif %}
  </tr>
{% endmacro %}
